:root {
    --variable-name: value;
  }

  /* Variables */
  :root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  /* Variables end */
  
  html {
    scroll-behavior: smooth;
  }
  
  /* CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p {
    color: #000000;
    font-size: 1.3rem;
    
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  body {
    font-family: var(--font-family);
    
  }

  nav {
    position: sticky;
    top: 20px;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }
  
  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  .bio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 3rem;
  }
  

  .bio img {
    width: 30rem;
    border-radius: 5px;
    box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
    transition: all ease 1sec;
    opacity: 0.5;
  }
  .bio img:hover {
    transform: scale(1.09, 1.09);
    border-radius: 15%;
    opacity: 1;
  }
  

  .bio p {
    line-height: var(--line-height);
    padding: 0.6rem;
  }

  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

  .marcas {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .marcas-header {
    margin-bottom: 1rem;
  }
  
  .marcas-wrapper img {
    padding: 1.25rem;
  }
  
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }

  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }

  /*media querys*/
  @media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }

    .simon__logo {
        width: 37.6rem;
        height: 37.6rem;
    }

    nav ul {
      position: fixed;
      background-color: var(--bg-color);
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
    nav ul li {
      margin: 8px;
    }
    .burger-menu {
      display: block;
    }
  
    nav ul.show {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 420px) {
    .hero img {
      height: 37.5rem;
      width: 23rem;
    }
  
    .bio {
      width: 18.3rem;
    }
  }