/* Reseteo*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


p {
  color: #000000;
  font-size: 1.3rem;
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}


/* Barra de nav*/

nav {
  position: sticky;
  top: 20px;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      nav a {
  color: var(--primary-color);
  transition: var(--transition);
  nav ul {
      display: flex;
      gap: 1.9rem;
      nav ul li {
      font-weight: var(--bold-font);

  }
  nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
}
}
}
.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Body */
body {
    @import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: auto;
    background: linear-gradient(158deg, #7cf082 0%, #3f005ce5 37%, #4cf03e 100%);
    width: 90%;
    .contenedor {
        margin-top: 15.7vh;
        margin-bottom: 3vh;
        box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
      }
      .marcas {
        max-width: 68.75rem;
        margin: auto;
        text-align: center;
        margin-top: 2.5rem;
        .marcas-header {
            margin-bottom: 1rem;
          }
          
          .marcas-wrapper img {
            padding: 1.25rem;
          }
          .icon {
            width: 11.875rem;
            height: 11.25rem;
          }
        
          .icon-card {
            background-color: #fff;
            border-radius: 11px;
            box-shadow: 0 3px 10px var(--secondary-shadow);
            padding: 20px;
            margin: 10px;
          }  
    }  
}
}