.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 3rem;
    img {
    width: 30rem;
    border-radius: 5px;
    box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
    transition: all ease 1sec;
    opacity: 0.5;
  }
    p {
    line-height: var(--line-height);
    padding: 0.6rem;
    color: rgb(224, 220, 220) ;
    text-align: justify;
  }

  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }
    
    img:hover {
    transform: scale(1.03, 1.03);
    border-radius: 15%;
    opacity: 1;
  }
  

}