.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

  .product-container {
    margin: 1.5vw;
    padding: 1px 16px;
    position: relative;
    img {
        width: 25vw;
        box-shadow: 0 0.4vw 0.8vw 0.8vw hsl(0, 0%, 6%);
}
    h3 {
        margin-bottom: 10px;
        margin-left: 20px;
        color: whitesmoke;
        font-size: 36px;
}

}
    .button-add {
    border: none;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    background-color: white;
    transition-duration: 0.4s;
    border: 2px solid black;
    border-radius: 0.8vw;
    padding: 1vw 2vh;
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    
  }
}

.button-add:hover {
  background-color: $colorUno;
  color: white;
}
.product-container:hover {
  box-shadow: 0 0.8vw 0.16vw  hsl(0, 0%, 6%);
}