/* Reseteo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  p {
    color: #000000;
    font-size: 1.3rem;
    
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
}