 /* Variables */

 :root {
    --variable-name: value;
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primario-color: #4756df;
    --secundario-color:  ;
    --terciario-color: #05ad05;
    --primary-shadow: #8b8eaf;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  $colorUno: #4cf03e;
  $colorDos: #585858 ;
  $colorTres: #3f005ce5 ;
  /* Variables end */